
<div class="container">
    <div class="card container">

    
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <div class="d-flex justify-content-center">
                    <h1 class="display-1" >Vragenlijsten</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
        
            <a class="btn btn-outline-secondary col-2 align-self-end" [routerLink]="['/survey/create']" ><i class="fa fa-plus" aria-hidden="true"></i> Nieuw</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                      
                        <th scope="col">Gebruiker</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Uur</th>
                        <th scope="col">Vak</th>
                        <th scope="col">Klasgroep</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vragenlijst of vragenlijsten">
                   
                        <td>{{vragenlijst.gebruiker.voornaam}} {{vragenlijst.gebruiker.naam}}</td>
                        <td>{{vragenlijst.datum | date:'EEEE, d/MMM/y'}}</td>
                        <td>{{vragenlijst.datum | date:'HH:mm'}}</td>
                        <td>{{vragenlijst.vak.naam}}</td>
                        
                        <td>
                            <table>
                                <tr *ngFor="let klasgroep of vragenlijst.klasgroepen" >
                                    <td>{{klasgroep.naam}}</td>
                                </tr>
                            </table>
                        </td>
                        <td><button class="btn btn-primary" (click)="detailsVragenlijst(vragenlijst._id)">Details</button></td>
                        <td><button class="btn btn-secondary" (click)="editVragenlijst(vragenlijst._id)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                        <td><button class="btn btn-danger" (click)="removeVragenlijst(vragenlijst._id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                        
                    </tr>
                </tbody>
               
                
            </table>

  
        </div>
    </div>
</div>
</div>
