//color palette
    //weareimd
    $weareimdBlue: #0600FF;
    $weareimdGreen: #BFFD00;
    $weareimdPink:#FCD7F7;
    $weareimdWhite: #FFFFFF;
    $weareimdBlack: #171717;
    $weareimdGrey: #C0C0C0;