<div class="container">
    <div class="card">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Klasgroep aanmaken</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <form >
                    <div class="form-group"> 
                        <label for="naam" class="control-label">Naam</label>
                        <input class="form-control" type="text" name="naam" id="klasgroepNaam"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="aantalStudenten">Aantal studenten</label>
                        <input class="form-control" type="number" name="aantalStudenten" id="aantalStudenten">
                    </div>
                   <div class="form-group">
                        <button (click)="createKlasgroep()" class="btn btn-primary" type="submit" >Aanmaken</button>
                   </div>
                    
                </form>
            </div>
            </div>
        </div>
    </div>
    
    
</div>