
<div class="container">
    <div>
        <div><img src="" alt=""/></div>
        <form [formGroup]="myform" (ngSubmit)="submit()" >
            <div class="form-group"> 
                <label for="email" class="control-label">Email</label>
                <input class="form-control" type="text" formControlName="email" name="email" id="email"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Wachtwoord</label>
                <input class="form-control" type="password" formControlName="wachtwoord" name="password" id="password">
            </div>
           <div class="form-group">
                <button class="btn btn-primary" type="submit" >Inloggen</button>
           </div>
            
        </form>
    </div>
</div>