<p>survey-detail works!</p>
<div class="container">
<div class="card">
<div class="container">
        <div class="row">
            <div class="col-8"></div>
            <button class="btn btn-outline-secondary col-2 align-self-end">Aanpassen</button>
            <button class="btn btn-outline-danger col-2 align-self-end">Verwijderen</button>
        </div>

        <div class="row">
            <h1>Vragenlijst details</h1>
            <p>Datum : </p>
            <p>Vak :</p>

            <div class="googlechart">

            </div>


        </div>
    </div>
</div>
</div>