
<div class="container">
<div class="card">
<div class="container">

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>{{vragenlijst?.vak?.naam}}</h1>
                        <p>{{vragenlijst?.datum | date:'EEEE, d/MMM/y'}} {{vragenlijst?.datum | date:'HH:mm'}}</p>
                        <div *ngFor="let klasgroep of vragenlijst?.klasgroepen">
                            <p>{{klasgroep.naam}}</p>
                        </div>
                        
                        <p> {{respondenten}} van de {{respondentenLimit}} studenten hebben al ingevuld.</p>

                        <div class="card">
                            <div class="card-body">
                               
                                    <h2 class="card-title">Deelbare link : </h2>
                                    <input class="form-control" type="text" value="https://lab3frontend.herokuapp.com/reaction/create/{{Id}}">
                                    
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-8">
                        <div class="chart" >
                            <h2>In welke mate denk ik van mezelf dat ik mee ben met de leerstof?</h2>
                            <div style="display: block;">
                                <canvas  id="benMeeChart" #benMeeChart>


                                    <!--
                                        baseChart
                                        [datasets]="benMeeData"
                                  [labels]="benMeeLabels"
                                  [options]="benMeeOptions"
                                  [plugins]="benMeePlugins"
                                  [legend]="benMeeLegend"-->
                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="chart">
                            <h2>Moet er een deel uit de les herhaald worden?</h2>
                            <div style="display: block;">
                                <canvas id="nogVragenChart" #nogVragenChart
                                
                                
                                
                                
                                >
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="welkOnderdeel">
                            <h2>Welk onderdeel moet mogelijk herhaald worden?</h2>
                            <div class="card" *ngFor="let antwoord of welkOnderdeel; index as i">
                                <div class="card-body" >
                                    <h3 class="card-title">Antwoord {{i+1}}</h3>
                                    <blockquote class="blockquote">
                                        <p class="card-text "><cite>{{antwoord}}</cite></p>
                                    </blockquote>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="andereVragen">
                            <h2>Andere vragen van de studenten</h2>
                            <div class="card" *ngFor="let vraag of andereVragen; index as i">
                                <div class="card-body">
                                    <h3 class=" card-title">Vraag {{i+1}}</h3>
                                    <blockquote class="blockquote">
                                        <p class="card-text "><cite>{{vraag}}</cite></p>
                                    </blockquote>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           

            

          

                
        </div>
            


        </div>
    </div>
</div>
</div>