<p>survey-create works!</p>
<div>
    <div>
        <h1>Vragenlijst aanmaken</h1>
        <form>
            <div>
                <label for="klasgroep">Klasgroep : </label>
                <select name="klasgroep" id="klasgroep_select">
                    <option value=""></option>
                </select>
            </div>
            <div>
                <label for="klasgroep">Klasgroep : </label>
                <select name="klasgroep" id="klasgroep_select">
                    <option value=""></option>
                </select>
            </div>
            <div>
                <button type="submit">Versturen</button>
                <button>Annuleren</button>
            </div>
        </form>
    </div>
</div>