
<div  class="container">
    <div class="row ">
        <div class="col-12">
            <div class="jumbotron">
                <div class="d-flex justify-content-center">
                    <h1 class="display-1" >welkom </h1>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div   class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Recente activiteit</h2>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3>vak : {{recentEntry?.vak?.naam}}</h3>
                                            <p>{{recentEntry?.datum | date:'EEEE, d/MMM/y'}} {{recentEntry?.datum | date:'HH:mm'}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <canvas id="recentBenMeeGraph" #recentBenMeeGraph></canvas>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <canvas id="recentHerhalenGraph" #recentHerhalenGraph></canvas>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    {{recentEntry | json}}
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-survey-list>

            </app-survey-list>
        </div>
    </div>
    

    
</div>